label{ vertical-align:middle;}
input:focus,textarea:focus{ outline:none;}
.btn{ border:none 0}
.mb10{ margin-bottom:10px;}
.active{ background:ff6600;}

form{width:840px; height:900px; margin:50px auto; position:absolute; left:30%}
form div{ overflow:hidden;clear:both;}
form div label{ float:left; clear:both;}
form div label .text{ width:152px; height:26px; padding:0 2px; border:1px solid #66FFCC;}
form div label b{ font-weight:normal; font-size:12px; color:#669933; visibility:hidden;}
form div em{ display:inline-block; font-size:12px; text-align:center; color:#ccc; vertical-align:middle; font-style:normal; width:53px; height:15px; line-height:15px; background:#FFD099; }
form div .active{ background:ff6600;}
div span{display:inline-block; width:80px; text-align:right;}
.submitBtn{ width:115px; height:33px; color:#FFFFFF; background-color:#6666CC; border:0; margin:20px 0 0 80px;}
.changeimg{width:22px; height:22px; display:inline-block; vertical-align:middle;}
.msg{ line-height:12px; color:#FF3300; float:left; margin-left:5px; display:none;}
.msg .ati{ background-position:0-71px;}
.msg .err{ background-position:0-39px;}
.msg .ok{ background-position:0-99px;}